.campo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
}
.campo label {
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}
.campo input, .campo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
#btn-enviar {
    background-color: #d00303;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#btn-enviar:hover {
    background-color: #920101;
}

#mensagem-sucesso{
    display:none; 
    color: #d00303; 
    font-weight: bold;
    margin-top: 10px;
}

#mensagem-sucesso p{
    font-size: 10px;
}

#mensagem-sucesso span{
    color: #000000; 
}

#mensagem-sucesso img{
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 375px) {
    #mensagem-sucesso p{
        font-size: 12px;
    }
}

@media screen and (min-width: 425px) {
    #mensagem-sucesso p{
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    #mensagem-sucesso p{
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #mensagem-sucesso p{
        font-size: 20px;
    }
}